.row{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.heading{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
}